body{
    background-color: #f9f9f9;
    height: 100%;
}
.global {
    width: 980px;
    height: 750px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: white;
    padding: 50px 46px 60px 50px;
    box-shadow: -1px 0px 4px 0px rgba(0, 0, 0, 0.65);
    margin: auto;
    line-height: 1.5;
}
#navigation {
    margin-bottom: 40px;
    padding: 0px;
    list-style: none;
    width: 975px;
    height: 40px;
    background-color: #515151;
}
#sells {
    background-color: #3d3d3d;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    padding-top: 5px;
}
#navigation li {
    float: left;
    display: block;
    text-shadow: 1px 1px 2px black;
    font-size: 16px;
    font-family: serif;
    text-align: center;
    height: 33px;
    width: 100px;
    margin: 0px;
    padding-top: 5px;
    margin-right: 40px;
}
.navigationA {
    color: white;
}
 .navigationA:visited {
    color: white;
}
 .navigationA:active {
    color: white;
}
a {
    text-decoration: none;
}
.logo {
    margin-bottom: 20px;
}
.leftpanel {
    width: 216px;
    height: 10px;
    border: 1px solid #c8c8c8;
    border-bottom: 0px;
    padding-left: 24px;
    padding-top: 7px;
    padding-bottom: 23px;
    color: grey;
}
.PanelsParent {
    width: 216px;
    height: 10px;
}
#lastpanel {
    border: 1px solid #c8c8c8;
    width: 216px;
    height: 10px;
    padding-left: 24px;
    padding-top: 7px;
    padding-bottom: 23px;
    color: grey;
}
.LeftText {
    color: grey}
#thirdpanel {
    border: 1px solid #c8c8c8;
    border-bottom: 0px;
    width: 206px;
    height: 10px;
    background-color: #f9f9f9;
    padding-left: 34px;
    padding-top: 7px;
    padding-bottom: 23px;
}
aside {
    float: right;
}
section {
    float: left;
}
.clearfix {
    clear: both;
}
.text {
    left: 315px;
    bottom: 225px;
    width: 630px;
    font-size: 13px;
    color: 2c2c2c;
    line-height: 20px;
}
#navigation2 {
    bottom: 200px;
    margin-bottom: 40px;
    padding: 0px;
    list-style: none;
    width: 975px;
    height: 40px;
    background-color: #e0e0e0;
    color: black;
}
#navigation2 .home {
    float: left;
    display: block;
    font-size: 13px;
    font-family: serif;
    text-align: center;
    height: 33px;
    margin: 5px 50px 5px 20px;
    padding-top: 5px;
    margin-right: 40px;
}
#navigation2 #sells2 {
    float: left;
    display: block;
    font-size: 13px;
    font-family: serif;
    text-align: center;
    height: 33px;
    margin: 5px 50px 5px 20px;
    padding-top: 5px;
    margin-right: 40px;
}
#navigation2 .home {
    float: left;
    display: block;
    font-size: 13px;
    font-family: serif;
    text-align: center;
    height: 33px;
    margin: 5px 50px 5px 20px;
    padding-top: 5px;
    margin-right: 40px;
}
#navigation2 .info {
    float: left;
    display: block;
    font-size: 13px;
    font-family: serif;
    text-align: center;
    height: 33px;
    margin: 5px 50px 5px 20px;
    padding-top: 5px;
    margin-right: 40px;
}
#navigation2 #contacts2 {
    float: left;
    display: block;
    font-size: 13px;
    font-family: serif;
    text-align: center;
    height: 33px;
    margin: 5px 50px 5px 20px;
    padding-top: 5px;
    margin-right: 380px;
}
#navigation2 .copyright {
    float: left;
    display: block;
    font-size: 13px;
    font-family: serif;
    text-align: center;
    height: 33px;
    margin: 5px 50px 5px 20px;
    padding-top: 5px;
}
#sells2 {
    text-decoration: underline;
}
.footer {
    color: #2c2c2c;
}
 .footer:visited {
    color: #2c2c2c;
}
 .footer:active {
    color: #2c2c2c;
}
footer {
    margin-top: 20px;
}
#contacts2 {
    margin-right: 200px;
}
.align {
    text-align: center;
}
